<div class="content row pb-5">
    <div class="content__header w-100">
        <!-- <app-user-prof-header></app-user-prof-header> -->
    </div>
    <div class="container mt-5 pb-5 box">
        <div class="content__box col-12 ">
            <div class="content__box__title">
                <h3>Sorry page not found</h3>
            </div> 
            <div class="content__box__img">
                <div class="content__box__img__container">
                    <img src="assets/img/404.svg" alt="">
                </div> 
            </div>
        </div> 
    </div>
   
</div>